/* ----------------------------------------------------
 * wlogout - Gruvbox Dark (GTK3 Compatible)
 * ---------------------------------------------------- */

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 17px;
  font-weight: 300;
}

* {
  text-shadow: none;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

/* Overlay */

window {
  background: rgba(29, 32, 33, 0.9);
}

/* ----------------------------------------------------
 * Buttons
 * ---------------------------------------------------- */

button {
  background-color: #282828;
  color: #ebdbb2;

  border: 2px solid #3c3836;
  border-radius: 12px;

  margin: 8px;
  padding: 20px;

  min-width: 110px;
  min-height: 120px;

  background-repeat: no-repeat;
  background-position: center 28%;
  background-size: 52px;

  transition: 180ms;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

/* ----------------------------------------------------
 * Generic Hover
 * ---------------------------------------------------- */

button:hover {
  background-color: #32302f;
  color: #458588;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}

/* ----------------------------------------------------
 * Active
 * ---------------------------------------------------- */

button:active {
  background-color: #3c3836;
}

#lock {
  background-image: image(url("icons/lock.svg"));
}

#logout {
  background-image: image(url("icons/logout.svg"));
}

#suspend {
  background-image: image(url("icons/suspend.svg"));
}

#reboot {
  background-image: image(url("icons/reboot.svg"));
}

#shutdown {
  background-image: image(url("icons/shutdown.svg"));
}
